/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	text-align:center;
}
p{
	text-align:left;
}
.book{
	
}
.blank{
	width:100%;
	height:20px;
	background-color:white;
}
.author{
	color:#777777;
}
.price{
	width:80%;
	height:50px;
	margin:auto;
	background-color:#2ecc71;
	line-height:3
}





